
<div class="search">
  <!-- Card Start -->
  <% @bookings.each do |booking| %>
  <div class="card-product">
    <img class="photo" src="https://images.unsplash.com/photo-1605559424843-9e4c228bf1c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
    <div class="card-product-infos">
          <div><h4 class=""><%= booking.car.brand %></h4></div>
          <div><p class=""><%= booking.car.model %> </p></div>
          <div><p class=""><%= booking.date_start %> | <%= booking.date_end %></p></div>
         <div> <%= link_to "Book Now", booking_path(:id => booking.id), :class => "btn btn-primary btn-sm " %></div>
        </div>
      </div>
      <%end%>
    </div>
</div>
