<p id="notice"><%= notice %></p>

<h1>Hello</h1>

<div class="container">
  <div class="grid-container">
    <% @cars.each do |car| %>

      <div class="car-card">
        <div class="car-card-photo">
          <img src=<%= car.photo_url %> class="card-img-top" alt="...">
        </div>

        <div class="car-car-body">
          <div class="car-card-brand">
            <%= car.brand %>
          </div>
          <div class="car-card-model">
            <%= car.model %>
          </div>
          <div class="car-card-details">
            <div><strong>Fuel: </strong><%= car.fuel %></div><div><strong>Gearbox: </strong> <%= car.gearbox %></div>
          </div>
          <div class="car-card-bottom">
            <div class="car-card-price"><%= car.price %> €/day</div>
            <div class="car-card-button"><%= link_to "Rent me!", car_path(:id => car.id) %></div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
