<div>
  <div>
    <%= @car.brand %> <%= @car.model %>
  </div>

  <div>
    <%= @car.fuel %>
  </div>

   <div>
    <%= @car.gearbox %>
  </div>

  <div>
    <img src="<%= @car.photo_url %>" width= 600px alt="">
  </div>

  <div>
    <h2><%= @car.price %> €</h2>
  </div>
</div>

<div>
  <%= simple_form_for [@car, @booking] do |f| %>
    <%= f.input :date_start, as: :string, required: false, input_html: {id: "range_start"} %>
    <%= f.input :date_end, as: :string, required: false, input_html: {id: "range_end"} %>
    <%= f.button :submit %>
  <% end %>
</div>
