<div class='container'>
  <div>

    <div>
      <img src="<%= @car.photo_url %>" width= 600px alt="">
    </div>

    <div>
      <%= @car.brand %> <%= @car.model %>
    </div>

    <div>
      <%= @car.fuel %>
    </div>

    <div>
      <%= @car.gearbox %>
    </div>

    <div>
      <h2><%= @car.price %> € / Day</h2>
    </div>

    <div>

      <div id="booking-form-div" data-bookings="<%= @bookings_dates.to_json %>"></div>
        <div>
          <%= simple_form_for [@car, @booking] do |f| %>
            <%= f.input :date_start, label: "Select the rental dates", as: :string, required: true, input_html: {id: "range_start", class: "d-none"} %>
            <%= f.input :date_end, label: false , as: :string, required: true, input_html: {id: "range_end", class: "d-none"} %>
            <%= f.button :submit, input_html: {class: "car-card-button"}%>
          <% end %>
        </div>
      </div>

    </div>

  </div>

</div>
